*{
    box-sizing: border-box;
}
html,body{
height: 100%;
margin: 0%;
padding: 0%;
}
.imgzebra{
        display:block; 
        margin-top: auto;
        margin-bottom: auto;
        margin-left:auto;
        margin-right:auto;
        height: 5cm;
        width: auto;
        font-size: 1em;
        
}
.zebra{
        text-align: center;
        font-size: 1.5em;
        font-family: "funny";
        color: rgb(43, 43, 43);
        margin-left: 0;
        margin-right:0 ;
        margin-bottom: 0;
        color: brown;
}
.tzebra{
        font-size: 1.5em;
        font-family: "funny";
        color: rgb(43, 43, 43);
        margin-left: 5%;
        margin-right:0 ;
        margin-top:0;
        margin-bottom: 0;
}
 .meteor2{
                display:block; 
  position: absolute;
  margin-top: 1%;
  left: 2%;
        height: 5cm;
        width: auto;
        font-size: 1.5em;
 }  a{
       
        text-decoration: dotted;
        color: rgb(196, 205, 209);
 } 
 a:hover{
        text-decoration: wavy;
 }
.meteor3{
        text-align: right;
         float: right;
         margin-right:  6%;
         margin-bottom: 1%;
           
}
  .meteor4{
                display:block; 
  position: absolute;
  margin-top: 0;
  right: 2%;
        height: 5cm;
        width: auto;
color: black;
 } 

.hunter{
height: 9em;
width: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block; 
}
.text{
       margin-top: 20%;
       padding-left: 15%;
       padding: right 15px; ;
        font-size: large;
          background-color:transparent;
      text-shadow: 0px 0px 17px rgba(0,0,0,0.6);
      text-align: center;
  padding: 15px;
}
figcaption{
             font-size:1em;
}

button{
        text-align: center;
        width: 15%;
        height: auto;
        background-color: aqua;
        color: black;
        margin-left: 42%;
       margin-right: auto;

margin-top: 1%;
}
button:hover{
                       box-shadow: 3px 2px 49px 0px rgba(0,151,255,0.75);
-webkit-box-shadow: 3px 2px 49px 0px rgba(0,151,255,0.75);
-moz-box-shadow: 3px 2px 49px 0px rgba(0,151,255,0.75);
}
.github{
        text-align: center;
        left: 50%;
        right:auto;
        margin-top:25%;
        font-size: large;
        margin-bottom: 0;
}
.github:hover{
        font-weight:bold ;
}
.whatsapp{
        text-align: center;
        left: 50%;
        right:auto;
        margin-top:0;
        font-size: large;

}
.whatsapp:hover{
        font-weight:bold ;
}


body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
  background-image: url('téléchargement\ \(2\).jpeg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    margin: 0; 
    padding: 0;
    height: 100vh; 
    width: 100vw;
}

@font-face{
        font-family: "funny";
        src:url(Minecraft.ttf);
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 95%; 
  }

}